input[type='text'],
input[type='password'],
input[type='email'],
select {
    border: none;
    padding: 8px;
    border-bottom: var(--dark-accent) 1.5px solid;
    outline: none;
    font-size: 16px;
    background: transparent;
    width: 100%;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
select:focus {
    border-bottom: var(--light-accent) 2px solid;
    background: transparent;
}

#otherParticipation {
    padding-top: 20px;
}

button {
    background-color: transparent;
    padding: 10px 15px;
    border: none;
    color: var(--light-accent);
    transition: color 0.3s ease-in-out, transform 0.2s;
    white-space: nowrap;
}

button:hover {
    color: var(--dark-accent);
    transform: scale(1.01);
}
