@import url('navbar.css');

.heading-block {
    color: white;
    background-color: var(--black-accent);
}

.heading-block, .section-block {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.heading-block h1 {
    font-size: 5em;
}

.section-block {
    position: relative;
    padding-bottom: 5em;
}

.section-block:not(:last-child)::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 1.5px;
    width: 60%;
    background: var(--light-gray);
}
