/*
Created by Sean L. on Apr 19
Last modified by Sean L. on Apr 19

MyFeather Site Page
style/maintenance-layout.css

A Feather, 2025. All rights reserved.
*/

@import url('fonts.css');
@import url('hypertext.css');

:root {
    font-family: 'CustomFont', 'Segoe UI', system-ui, sans-serif;
}

html, body {
    padding: 0px;
    margin: 0px;
}


div.heading-block h1 {
    font-size: 100px;
    color: #fff;
    text-shadow: 0px 0px 15px rgba(255,255,255,0.2);
}

div.heading-block h2 {
    color: rgba(255,255,255,0.3);
    text-shadow: 0px 0px 3px rgba(255,255,255,0.2);
}

div.section-block {
    margin: 5rem;
}

div.footer-block::before {
    content: '';
    display: block;
    background-color: #ddd;
    width: 50vw;
    height: 1px;
    margin-bottom: 100px;
}


div.heading-block {
    margin-top: 0px;
    padding-top: 0px;
    padding: 100px;
    padding-bottom: 200px;
    background: linear-gradient(#BEAEFF, #FF9EEA, #fff);
}

div.footer-block {
    margin: 100px;
}

ins {
    text-decoration: none;
}

.footer-block > * {
    display: block;
    margin-top: 20px;
}

@media screen and (max-width: 500px) {
    .heading-block {
        writing-mode: vertical-rl;
        width: 100vw;
    }
    .heading-block h2 {
        margin-right: 1em;
    }
}

* {
    margin-left: 0; margin-right: 0;
}