@import url('fonts.css');
@import url('layout-main.css');
@import url('list.css');
@import url('palette.css');
@import url('markdown.css');
@import url('form.css');

body {
    font-family: 'JetBrainsMono', monospace;
    margin: 0;
    padding: 0;
}
