/*
Created by Sean L. on Apr 19
Last modified by Sean L. on Apr 19

MyFeather Site Page
style/maintenance-layout.css

A Feather, 2025. All rights reserved.


*/

@import url('fonts.css');
@import url('hypertext.css');

* ,html, body {
    padding: 0px;
    margin: 0px;
    font-family: HWFont;
}

::selection {
    background-color: rgba(255,255,255,.3);
}

body {
    overflow: hidden;
}

div.content {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#BEAEFF, #FF9EEA);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

div.heading-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    margin: 10rem 6rem;

}

div.heading-block h1 {
    font-size: 6rem;
    color: #fff;
    text-shadow: 0px 0px 15px rgba(255,255,255,.2);
}

div.heading-block h2 {
    color: rgba(255,255,255,.3);
    text-shadow: 0px 0px 3px rgba(255,255,255,.2);
}

div.footer-block {
    display: flex;
    flex-direction: column;
    margin: 0 6rem;
    justify-content: center;
    align-items: flex-end;
}

div.footer-block > ins {
    text-decoration: none;
    color: rgba(255,255,255,.5);
    text-shadow: 0px 0px 3px rgba(255,255,255,.2);
    text-align: end;
}

@media screen and (max-width: 800px) {
    div.heading-block {
        writing-mode: vertical-lr;
    }

    div.footer-block {
        align-items: center;
    }

    div.footer-block > ins {
        text-align: center;
    }

    div.footer-block {
        margin: 0 2rem 1rem 2rem;
    }
}