body {
    --black-accent: #011;
    --dark-accent: #033;
    --reg-accent: #066;
    --light-accent: #0aa;
    --dark-gray: #333;
    --reg-gray: #666;
    --caption-gray: #888;
    --bg-gray: #aaa;
    --light-gray: #eee;
}